@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--background_color: #282a36;
	--primary_color: #44475a;
	--secondary_color: #6272a4;
	--border_color: lightslategray;
}

html {
	user-select: none;
	color: black;
}

html.dark {
	color: white;
}

.sortable-item {
	width: 100%;
}

*::after,
*::before,
*::marker {
	box-sizing: inherit;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--secondary_color);
	/* border-radius: 10px; */
}
